<div class="container">
  <div style="text-align:center"><h1>{{ title }}</h1></div> 
<div style="border-radius: 25px; border-color: red;">
  <div style="text-align:center">
    <h2>Menu</h2>
  </div>  
  <div>
    <table>
   
    <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian?</th>
    <th></th>
   </tr>
   
  @for(s of Menu; track $index ){
<tr>
  <td [class.soldOut]="s.soldOut">{{ s.name }}</td>
  <td>{{ s.category }}</td>
  <td>{{ s.price }}</td>
  @if(s.vegetarian === true){
    <td>Yes</td>
  }
  @else{
    <td> No</td>
  }
 <!--@if(s.soldOut==true){-->
  <td><button type="button" [disabled]="s.soldOut" >Add To Order</button> </td> 
 <!-- }
 @else { -->

   <!-- <td><button type="button" id="myBtn">Add To Order</button> </td>  -->
  
  @for(s of Menu; track $index){
    @if(s.soldOut === true){

    }
  }
</tr>
}

  
 
  
    
  </table>
</div>
  

</div>


</div>